name: CI

on: [push, fork, pull_request, workflow_dispatch]

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.13
          activate-environment: true
      - name: Install dependencies
        run: |
          uv export --no-hashes | uv pip install -r -
          yarn global add pyright
      - name: Check code quality
        run: |
          ruff check --diff
          isort . --check --diff
          black . --check --diff
      - name: Check typing
        run: pyright

  typos:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: crate-ci/typos@master

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.13
          activate-environment: true
      - name: Build
        run: uv build
      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: dist
          path: dist

  publish:
    runs-on: ubuntu-latest
    needs: [check, typos, build]
    permissions:
      id-token: write
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist
      - uses: astral-sh/setup-uv@v7
      - name: Publish to PyPI
        run: |
          uv publish
        continue-on-error: true
